/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {    
    /*HREO AREA */
        
    
    /* FEATURED CLIENTS SECTION*/
    #clients img{height: 50px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 980px) {
    
    /*HREO AREA */
    
    
    /*ABOUT SECTION*/
    #about{padding-top: 40px;}
    
    /* FEATURED CLIENTS SECTION*/
    #clients {text-align: center;}
    #clients img{height: 40px;}
    #clients ul{float: none;}
    #clients h4 {display: none;}
    
    /* PORTFOLIO SECTION */
    #shotsByPlayerId li{width: 47%;}
    #shotsByPlayerId li:first-child{width: 97%;}
    
    .myphoto{text-align: center;}

    /*COLLUPSABLE NAVIGATION MENU*/
    .navbar-header {float: none;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;}
    .navbar-collapse.collapse {display: none!important;}
	.navbar-nav>li {
        float: none;
        padding-left: 30px;
        overflow: hidden;
    }
    .collapse.in{display:block !important;background:rgba(0, 0, 0, 0.76);}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 786px) {
	
	
	.collapse.in{display:block !important;background:rgba(0, 0, 0, 0.76);}
	
	#hero {
    color: #fff;
    text-align: center;
    background: url(../img/banner_bg.jpg)no-repeat;
    background-size: 100%;
    overflow: hidden;
    height: 35vh;
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
	}
    
	#about h2 {
    font-family: 'Muli', sans-serif;
    font-size: 55px;
    color: #626262;
    text-align: center;
    font-weight: 300;
    padding-bottom: 0px;
    color: #5c5c5c;
	}
	
	
	#about h4 {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 60px;
    font-weight: 300;
    color: #343434;
    padding-top: 40px;
	}
	
	#portfolio .mobilescreen {
    width: 100%;
    height: 215px;
    margin: 0 auto;
    padding: 0px 0 0 0;
	}
	
	
	#portfolio .mobilebg {
    background: transparent;
    height: 241px;
    width: 100%;
    margin: 0 auto;
	}
	
	#contactus .col-md-12 {
    background: #f0f1f4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
	}
	
	.socials {
    text-align: left;
    margin-bottom: 10px;
}
	
}


/* Mobile Devices */
@media only screen and (max-width : 640px) {
    
    h2 {font-size: 1.9em;}
    h3{font-size: 1.5em}
    h4{font-size: 1.1em;}
    
    
    .myphoto{display: none;}

    
    /*Hero area*/
      
    .herocontent{padding-top: 30px;}
    
    /*About section*/
    #about{text-align: center;}
    
    /*Portfolio*/
    #shotsByPlayerId li {width: 96%;}
    
    /*Footer*/
          
}

/* Smaller Mobile Devices */
@media only screen and (max-width : 480px) {
   
    #clients {display: none;}
    .footersocial li{font-size: 1.5em}
}

/* Smallest Mobile Devices */
@media only screen and (max-width : 320px) {
    
    .herocontent{padding-top: 100px; padding-bottom: 30px;}

}


